:root {
  --body-background-color: white;
  --body-text-color: black;
}

:root[data-theme='dark'] {
  --body-background-color: black;
  --body-text-color: white;
}

body {
  background-color: var(--body-background-color);
  font-family: 'Roboto', sans-serif;
}
